body {
    min-width: 600px;
    overflow-x: hidden;
}

#notifyHistories {
    margin: 0;
    padding: 5px;
}
#notifyHistories:empty {
    padding: 0;
}
#notifyHistories li{
    border-radius: 5px;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px 5px 5px 78px;
    position: relative;
    min-height: 78px;
}

#notifyHistories > li:nth-child(2n) {
    background-color: #eeeeee;
}

#notifyHistories > li:nth-child(2n+1) {
    background-color: #f7f7f7;
}

#notifyHistories li.new{
    font-weight: bold;
}

#notifyHistories li .icon{
    width: 48px;
    height: 48px;
    margin-right: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#notifyHistories li .icon-avatar{
    width: 30px;
    height: 30px;
    top: 38px;
    left: 38px;
}

#notifyHistories span.remove-btn{
    opacity: 0.5;
}

#notifyHistories span.remove-btn:hover{
    opacity: 1;
}

.eventLink {
    display: block;
    margin-top: 5px;
}

.navbar {
    margin: 5px;
    min-height: 0;
    padding: 10px;
}

i.fa {
    margin-right: 6px;
}

span.glyphicon {
    margin-right: 6px;
}

.btn {
    margin-right: 12px;
}
