body {
    min-width: 600px;
    overflow-x: hidden;
}

#notifyHistories {
    margin: 0;
    padding: 5px;
}
#notifyHistories:empty {
    padding: 0;
}
#notifyHistories li{
    border-radius: 5px;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px 5px 5px 25px;
}

#notifyHistories > li:nth-child(2n) {
    background-color: #eeeeee;
}

#notifyHistories > li:nth-child(2n+1) {
    background-color: #f7f7f7;
}

#notifyHistories li.new{
    background-image: url(../img/new-icon.gif);
    background-position: left 9px;
    background-repeat: no-repeat;
}

#notifyHistories li .icon{
    width: 48px;
    height: 48px;
    margin-right: 5px;
}

#notifyHistories span.remove-btn{
    opacity: 0.5;
}

#notifyHistories span.remove-btn:hover{
    opacity: 1;
}

.eventLink {
    display: block;
    margin-top: 5px;
}

.navbar {
    margin: 5px;
    min-height: 0;
    padding: 10px;
}
